---
layout: default
---
{% if page.url != "/" and page.url != "/tags" and page.author %}
  {% assign author = site.authors[page.author] %}
{% else %}
  {% assign author = site.authors["arquivei"] %}
{% endif %}

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/authors/{{ author.image }}" alt="{{ author.name }}"></a>
      </div>
      <div class="author-name">
        {% if author.name == "Arquivei" %}
          {{ author.name }}
          <p class="arquivei-engineering">@engenharia</p>
        {% else %}
          {{ author.name }}
        {% endif %}
      </div>
      <p>{{ author.about }}</p>
    </div>
  </header> <!-- End Header -->
  <footer>
    <section class="contact">
      <h3 class="contact-title">@arquivei</h3>
      <ul>
        {% if author.social_networks.twitter %}
          <li>
            <a href="https://twitter.com/{{ author.social_networks.twitter }}" target="_blank">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
        {% endif %}

        {% if author.social_networks.facebook %}
          <li>
            <a href="https://facebook.com/{{ author.social_networks.facebook }}" target="_blank">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
        {% endif %}

        {% if author.social_networks.github %}
          <li class="github">
            <a href="http://github.com/{{author.social_networks.github}}" target="_blank">
              <i class="fa fa-github"></i>
            </a>
          </li>
        {% endif %}

        {% if author.social_networks.linkedin %}
          <li class="linkedin">
            <a href="https://www.linkedin.com/{{author.social_networks.linkedin}}" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        {% endif %}

        {% if author.social_networks.email %}
          <li class="email">
            <a href="mailto:{{author.social_networks.email}}">
              <i class="fa fa-envelope-o"></i>
            </a>
          </li>
        {% endif %}
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; Arquivei</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->

<div class="content-box clearfix">
  {{ content }}
</div>
